

.hero-loader {
  display: grid;
  place-items: center;
  gap: 12px;
  background: #fff;
  border-radius:20px 0 0 20px ;
}

.hero-loader__orbit {
  top: 15%;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1.2s linear infinite;
}

.hero-loader__weapon {
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 32px;
  width: 50px;
  height: 50px;
  img{
    width: 100%;
  }
}

.hero-loader__hero {
  width: 120px;
  height: 120px;
  img{
    width: 100%;
  }
}

.hero-loader__center{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 651px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
